name: Build and deploy feature to dev

on:
  workflow_call:
    inputs:
      build-tag:
        required: true
        type: string
        description: "Tag/branch/ref to build"
        default: main
      nav-environment:
        required: true
        type: string
      e2e-tests:
        type: string
        default: 'kabal,kaka,kabin,klang'
        description: 'Comma-separated list of e2e tests to run. Leave empty to skip all e2e tests.'

jobs:
  build-feature:
    name: Build feature
    uses: navikt/klage-workflows/.github/workflows/build-app.yaml@main
    with:
      build-tag: ${{ inputs.build-tag }}
    secrets: inherit

  deploy-feature-to-dev:
    name: Deploy feature ${{ inputs.build-tag }} to ${{ inputs.nav-environment }}
    uses: navikt/klage-workflows/.github/workflows/deploy-nais-app.yaml@main
    needs: build-feature
    with:
      image: ${{ needs.build-feature.outputs.image }}
      nav-cluster: dev-gcp
      nav-environment: ${{ inputs.nav-environment }}
    secrets: inherit

  e2e-tests:
    if: inputs.e2e-tests != ''
    needs: deploy-feature-to-dev
    uses: navikt/klage-workflows/.github/workflows/e2e-tests.yaml@main
    with:
      e2e-tests: ${{ inputs.e2e-tests }}
    secrets:
      STATUS_API_KEY: ${{ secrets.STATUS_API_KEY }}