name: Build and deploy feature to dev

on:
  workflow_call:
    inputs:
      build-tag:
        required: true
        type: string
        description: "Tag/branch/ref to build"
        default: main
      nav-environment:
        required: true
        type: string
      e2e-tests:
        type: string
        default: 'kabal,kaka,kabin,klang'
        description: 'Comma-separated list of e2e tests to run. Leave empty to skip all e2e tests.'

jobs:
  build-and-deploy-feature:
    name: Build and deploy feature to ${{ inputs.nav-environment }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.build.outputs.image }}
      tag: ${{ steps.build.outputs.tag }}
    steps:
      - name: Build app
        id: build
        uses: navikt/klage-workflows/.github/actions/build-app@main
        with:
          build-tag: ${{ inputs.build-tag }}
          gradle-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy to ${{ inputs.nav-environment }}
        uses: navikt/klage-workflows/.github/actions/deploy-nais-app@main
        with:
          image: ${{ steps.build.outputs.image }}
          nav-cluster: dev-gcp
          nav-environment: ${{ inputs.nav-environment }}

  e2e-tests:
    if: inputs.e2e-tests != ''
    needs: build-and-deploy-feature
    uses: navikt/klage-workflows/.github/workflows/e2e-tests.yaml@main
    with:
      e2e-tests: ${{ inputs.e2e-tests }}
    secrets:
      STATUS_API_KEY: ${{ secrets.STATUS_API_KEY }}