name: Build, deploy feature

on:
  workflow_call:
    inputs:
      nav-cluster:
        required: false
        type: string
        description: Nais cluster in dev to deploy to
        default: 'dev-gcp'

jobs:
  build-main:
    uses: navikt/klage-workflows/.github/workflows/build-app.yml@main
    secrets: inherit

  deploy-main-to-dev:
    uses: navikt/klage-workflows/.github/workflows/deploy-all-dev.yml@main
    needs: build-main
    secrets: inherit
    with:
      image: ${{ needs.build-main.outputs.image }}
      nav-cluster: ${{ inputs.nav-cluster }}

  deploy-main-to-prod:
    uses: navikt/klage-workflows/.github/workflows/deploy-prod.yml@main
    needs: build-main
    secrets: inherit
    with:
      tag: ${{ needs.build-main.outputs.tag }}
      image: ${{ needs.build-main.outputs.image }}