name: Build, deploy to e2e, run e2e, deploy to all dev envs and prod

on:
  workflow_call:
    inputs:
      e2e-tests:
        type: string
        default: 'kabal,kaka,kabin,klang'
        description: 'Comma-separated list of e2e tests to run. Leave empty to skip all e2e tests.'

jobs:
  build-main:
    uses: navikt/klage-workflows/.github/workflows/build-app.yaml@main
    secrets: inherit

  deploy-main-to-dev:
    uses: navikt/klage-workflows/.github/workflows/deploy-nais-app.yaml@main
    needs: build-main
    with:
      image: ${{ needs.build-main.outputs.image }}
      nav-cluster: dev-gcp
      nav-environment: dev
    secrets: inherit

  e2e-tests:
    if: inputs.e2e-tests != ''
    uses: navikt/klage-workflows/.github/workflows/e2e-tests.yaml@main
    needs: deploy-main-to-dev
    with:
      e2e-tests: ${{ inputs.e2e-tests }}
    secrets:
      STATUS_API_KEY: ${{ secrets.STATUS_API_KEY }}

  deploy-main-to-prod:
    uses: navikt/klage-workflows/.github/workflows/deploy-prod.yaml@main
    needs: [deploy-main-to-dev, e2e-tests]
    if: ${{ !failure() && !cancelled() }}
    secrets: inherit
    with:
      tag: ${{ needs.build-main.outputs.tag }}
      image: ${{ needs.build-main.outputs.image }}