name: Manual deploy of main to prod

on:
  workflow_call:

run-name: Prod deploy of ${{ github.ref_name }}

jobs:
  deploy_manually_to_prod:
    name: Deploy
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/klage-workflows/.github/workflows/deploy-nais-app-with-custom-checkout.yaml@main
        with:
          build-tag: ${{ github.sha }}
          nav-cluster: prod-gcp
          nav-environment: prod

      - name: Generate release version
        id: version
        run: |
          TIME=$(TZ="UTC" date +%Y.%m.%d-%H.%M)
          COMMIT=$(git rev-parse --short=7 HEAD)
          VERSION=$TIME-$COMMIT
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Login to image registry
        id: image-registry
        uses: nais/login@v0
        with:
          team: klage

      - name: Tag Docker image with release version
        run: |
          docker pull europe-north1-docker.pkg.dev/nais-management-233d/klage/${{ github.event.repository.name }}:${{ github.sha }}
          docker tag europe-north1-docker.pkg.dev/nais-management-233d/klage/${{ github.event.repository.name }}:${{ github.sha }} europe-north1-docker.pkg.dev/nais-management-233d/klage/${{ github.event.repository.name }}:${{ steps.version.outputs.version }}
          docker push europe-north1-docker.pkg.dev/nais-management-233d/klage/${{ github.event.repository.name }}:${{ steps.version.outputs.version }}

      - uses: ncipollo/release-action@main
        with:
          tag: ${{ steps.version.outputs.version }}