name: Manual deploy of main to prod

on:
  workflow_call:

run-name: Prod deploy of ${{ github.ref_name }}

jobs:
  deploy_manually_to_prod:
    name: Deploy
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/klage-workflows/.github/actions/deploy-nais-app-with-custom-checkout@main
        with:
          build-tag: ${{ github.sha }}
          nav-cluster: prod-gcp
          nav-environment: prod

      - name: Login to image registry
        id: image-registry
        uses: nais/login@v0
        with:
          team: klage

      - name: Install crane
        uses: imjasonh/setup-crane@v0.4

      - name: Get version tag from image
        id: version
        run: |
          IMAGE=${{ steps.image-registry.outputs.registry }}/${{ github.event.repository.name }}
          DIGEST=$(crane digest ${IMAGE}:${{ github.sha }})
          VERSION=$(crane ls ${IMAGE} --filter=digest=${DIGEST} | grep -E '^[0-9]{4}\.[0-9]{2}\.[0-9]{2}' | head -1)
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - uses: ncipollo/release-action@main
        with:
          tag: ${{ steps.version.outputs.version }}